# Ignore all node_modules
client/node_modules/
server/node_modules/
node_modules/

# Ignore build/dist folders
client/dist/
server/dist/

# Ignore environment files
*.env
.env.local

# Ignore Google API Key
server/*jamesgeorgemusic-40567ec76f04.json
minify.txt