@font-face {
  font-family: 'BruneyClassy';
  src: url('/fonts/BruneyClassy.ttf') format('truetype'),
       url('/fonts/BruneyClassy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100vh; /* full screen height */
  overflow: hidden; /* prevent scrollbars */
  margin: 0;
  padding: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* makess sure it fills screen without distortion */
  z-index: -1; /* puts video behind text */
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fdfaf3; /* cream-ish color matches site theme */
  -webkit-text-stroke: 0px; /* remove black stroke */
  text-align: center;
}

.overlay-content h1 {
  font-family: 'BruneyClassy', serif;
  font-size: 3.5rem;
  color: white;
  -webkit-text-stroke: 1px rgb(255, 255, 255); /* black outline */
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.overlay-content p {
  font-size: 1.2rem;
  color: #fdfaf3;
}


/* Fixes navbar to top */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
